@implements IDisposable

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bohdan Movie</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <MyNavLink Href = "" Match="NavLinkMatch.All" IconClass="bi-home-icon" Text="Home"></MyNavLink>
        <MyNavLink Href="counter" IconClass="bi-counter-icon" Text="Counter"></MyNavLink>
        <MyNavLink Href="countries" IconClass="bi-countries-icon" Text="Countries"></MyNavLink>
        <MyNavLink Href="movies" IconClass="bi-movie-icon" Text="Movies"></MyNavLink>
        <MyNavLink Href="todo" IconClass="bi-todo-icon" Text="Todo"></MyNavLink>
        <MyNavLink Href="weather" IconClass="bi-list-icon" Text="Weather"></MyNavLink>
        <MyNavLink Href="auth" IconClass="bi-lock-icon" Text="Auth"></MyNavLink>
        <AuthorizeView>
            <Authorized>
                <MyNavLink Href="Account/Manage" IconClass="bi-person-icon" Text="@Name"></MyNavLink>
                <MyNavLink Href="Account/Logout" IconClass="bi-logout-icon" Text="Logout">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                </MyNavLink>
            </Authorized>
            <NotAuthorized>
                <MyNavLink Href="Account/Login" IconClass="bi-person-icon" Text="Login"></MyNavLink>
                <MyNavLink Href="Account/Register" IconClass="bi-register-icon" Text="Register"></MyNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string currentUrl;
    private string Name = string.Empty;
    protected override async Task OnInitializedAsync(){
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        var context = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Name = context.User.Identity?.Name ?? string.Empty;
        
    }
    private void OnLocationChanged(object sender, LocationChangedEventArgs e){
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }
    public void Dispose(){
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

