@page "/countries/edit"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Soft.Web.Data
@using Microsoft.EntityFrameworkCore
@using Abc.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit Country</PageTitle>

<h1>Edit</h1>

<h2>Country</h2>
<hr />
@if (country is null)  // Изменено
{
    <p><em>Loading...</em></p>
}
// ...existing code...
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="@country" OnValidSubmit="updateCountry" FormName="edit" >
                <DataAnnotationsValidator />
                <ValidationSummary />

                <input type="hidden" name="country.Id" value="@country.Id" />
                <MyPropertyEditor TValue="string" Id="name" Label="Name:" @bind-Value="country.Name"/>
                <MyPropertyEditor TValue="string" Id="code" Label="Code:" @bind-Value="country.Code"/>
                <MyPropertyEditor TValue="string" Id="details" Label="Details:" @bind-Value="country.Details"/>
                <MyPropertyEditor TValue="string" Id="isoCode" Label="Iso Code:" @bind-Value="country.IsoCode"/>
                <MyPropertyEditor TValue="string" Id="nativeName" Label="Native Name:" @bind-Value="country.NativeName"/>
                <MyPropertyEditor TValue="string" Id="numericCode" Label="Numeric Code:" @bind-Value="country.NumericCode"/>
                <MyPropertyEditor TValue="string" Id="officialName" Label="Official Name:" @bind-Value="country.OfficialName"/>
                <MyPropertyEditor TValue="DateTime?" Id="validFrom" Label="Valid From:" @bind-Value="country.ValidFrom"/>
                <MyPropertyEditor TValue="DateTime?" Id="validTo" Label="Valid To:" @bind-Value="country.ValidTo"/>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/countries">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery] private Guid Id { get; set; }
    [SupplyParameterFromForm] private Country country { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        country ??= await context.Countries.FirstOrDefaultAsync(c => c.Id == Id);
        if (country is null) NavigationManager.NotFound();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task updateCountry()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(country!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!countryExists(country!.Id)) NavigationManager.NotFound();
            else throw;
        }
        NavigationManager.NavigateTo("/countries");
    }

    private bool countryExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Countries.Any(e => e.Id == id);
    }

    
}
