@page "/countries"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Infra
@using Abc.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Linq
@using Abc.Soft.Web.Model
@inject NavigationManager NavigationManager
@inject ICountriesRepo repo

<PageTitle>Countries</PageTitle>

<h1>Countries</h1>

<p>
    <a href="countries/create">Create New</a>
</p>

<QuickGrid Class="table" Items="Countries">
    <PropertyColumn Property="x => x.Code" />
    <PropertyColumn Property="x => x.Name" />
    <PropertyColumn Property="x => x.Details" /> 
    <PropertyColumn Property="x => x.IsoCode" />
    <PropertyColumn Property="x => x.NativeName" />
    <PropertyColumn Property="x => x.NumericCode" />
    <PropertyColumn Property="x => x.OfficialName" />

    <PropertyColumn Property="x => x.ValidFrom" />
    <PropertyColumn Property="x => x.ValidTo" />   

    <TemplateColumn Context="x">
        <a href="@($"countries/edit?id={x.Id}")">Edit</a> |
        <a href="@($"countries/details?id={x.Id}")">Details</a> |
        <a href="@($"countries/delete?id={x.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IQueryable<Country> Countries = Enumerable.Empty<Country>().AsQueryable();
    protected override async Task OnInitializedAsync()
    {
        if(repo is null) return;
        Countries = (await repo.GetAsync()).AsQueryable();
    }
}
